#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.logo {
  height: 1rem;
  padding: 0 0.25em;
}

nav.navbar, div.nav-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
}

.navbar-nav {
  display: inline-block;
}

.cart-widget {
  display:inline-block;
  padding: 0 0 0 0.25rem;
}

.navbar-nav a {
  padding: 0 0.25rem;
}

div.d-flex.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
}

div.card {
  padding: 15px 5px 15px 5px;
  margin-top: 20px;
  text-align: center;
  width: 280px;
  border: 1px solid white;
  border-radius: 15px;
}

.sign-item {
  padding: 5px 10px;
  border-radius: 50%;
}

.value-item {
  padding: 5px 5px;
  width: 50px;
}

.navbar-brand a {
  color: white;
}

.adjust-amount-buttons {
  text-align: center;
  
}

.amount-button-container {
  display: inline-block;
  
}

.amount-to-buy {
  text-align: center;
  padding: 15px 0;
  
}

.buy-button {
  text-align: center;
}

.amount-button {
  font-weight: bold;
}

.sign-minus {
  margin-left: 5px;
  background-color: rgb(105, 0, 0);
  
}

.sign-plus {
  margin-right: 5px;
  background-color: rgb(0, 65, 0);
}